/* This is a CSS comment */
body {
	background-color: rgb(27, 27, 27);
	padding: 2% 1%;
	font: 150%/1.2 Helvetica; /*font: size/line-height family*/
	max-width: 90%;
	margin: 0 auto; /* The 0 refers to the top and bottom margins and the "auto" automatically */	
}                 /* sets the left and right margins to equal values. This centers the body on the page.*/

h1 {
	text-align: center;
	color: rgb(174, 127, 26);
}

h2 {
	margin: 10px;
}

p {
	margin: 10px 0;
}

a{
	color:white;
}

ul {
	list-style-type: none; /* this removes the bullets that show up by default in unordered lists */
}

ul li {
	
	font: 20px;
	line-height: 44px;  /*each line of text should occupy 44 pixels of height (good for mobile usage and fat fingers) */
}

ol {
	display: block;
	margin-left: 30%;
	margin-right: auto;
	list-style-position:inside
}

img {
	display: block;
	margin: 10px auto;
	width: 380px; 
	height: auto;
}

/*Stile for the content table*/
.content {	
	display: flex;	
	display: -webkit-flex;
}

.content-item{
	display:block;	
	box-sizing: border-box;
	min-width: 25%;
	float: left;
	border-radius: 20px;
	color: black;
	padding: 10px;
	margin: 10px auto;
}

/*Styling for the list items in the table of contents*/
.content-item a {
	color: rgb(174, 127, 26);
}

.part {
	background-color: black;
	border-radius: 20px;
	color: rgb(174, 127, 26);
	padding: 10px;
	margin: 10px auto;
}

/*Styling for back to the contents link*/
.part > p{
	text-align: right;
	margin-right: 20px;	
}

.section {
	background-color: rgb(27, 27, 27);
	padding: 4px;
	margin: 10px;
	border-radius: 4px;
	color: black;
}

.section-title {
	font-size: 28px;
	margin: 8px;
	text-align: center;
	color: #e0eaf2;
}

.section-description {
	color: #e0eaf2;
	font-weight: lighter;
	margin: 6px;
}

/*Styling for the image captions*/
.caption{
	font: 0.75em italic;	
	text-align: center;
}

/*Style for some of the ordered lists*/
.bullets{
	list-style-type: circle;	
}

.bullets li{
	line-height: inherit;
}

/*Styling for highliting important parts in text*/
.highlight{
	color: yellow;
}

.indented{
	margin-left: 40px;
}

/*Styling for all highlighted, centered texts in the document.*/
.center_yellow{
	color: yellow;
	text-align: center;
}
